/* set color variable */
:root{
  --background-color: #fff;
  --text-color:#010101;
}

body{
  background: var(--background-color);
  color:var(--text-color);
  font-size: 20px;
}

.Header{
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0px;
  background: rgb(118, 0, 77);
  color: #fff;
}
.Header h1{
  font-size: 20px;
}

.Home{
  height: 76.4vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.User{
  height: 76.4vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Register{
  height: 76.4vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Footer{
  padding: 20px 0px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(65, 1, 43);
  color: #fff;
}



/* all btn design */
.btn_design{
  background:  var(--text-color) !important;
  color: var(--background-color) !important;
  padding: 10px 50px !important;
}

.btn_design:hover{
  border: 1px solid #000 !important;
  background:  var(--text-color) !important;
  color: var(--background-color) !important;
}


/* home_btn_group design */
.home_btn_group{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}



/* Responsive */
/* mobile device responsive */
@media  screen and (min-width:320px) and (max-width:480px) {
  .home_btn_group{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .btn_design{
    background:  var(--text-color) !important;
    color: var(--background-color) !important;
    padding: 8px 20px !important;
  }
  body{
    background: var(--background-color);
    color:var(--text-color);
    font-size: 12px;
  }
  .Header h1{
    font-size: 14px;
  }
}
/* ipads and tablet responsive design */
@media  screen and (min-width:481px) and (max-width:768px) {
  .home_btn_group{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .btn_design{
    background:  var(--text-color) !important;
    color: var(--background-color) !important;
    padding: 8px 20px !important;
  }
  body{
    background: var(--background-color);
    color:var(--text-color);
    font-size: 16px;
  }
  .Header h1{
    font-size: 12px;
  }
  
}
/* laptop responsive  */
@media  screen and (min-width:769px) and (max-width:1024px) {
  .home_btn_group{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .btn_design{
    background:  var(--text-color) !important;
    color: var(--background-color) !important;
    padding: 8px 20px !important;
  }
  body{
    background: var(--background-color);
    color:var(--text-color);
    font-size: 16px;
  }
}
/* Desktop responsive */
@media  screen and (min-width:1025px) and (max-width:1200px) {
  .home_btn_group{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .btn_design{
    background:  var(--text-color) !important;
    color: var(--background-color) !important;
    padding: 8px 20px !important;
  }
  body{
    background: var(--background-color);
    color:var(--text-color);
    font-size: 16px;
  }
}
/* tv responsive */
@media  screen and (min-width:1201) and (max-width:2000px) {
  .home_btn_group{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .btn_design{
    background:  var(--text-color) !important;
    color: var(--background-color) !important;
    padding: 8px 20px !important;
  }
  body{
    background: var(--background-color);
    color:var(--text-color);
    font-size: 16px;
  }
}
